/* largely based on https://www.joshwcomeau.com/css/custom-css-reset/ */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.4;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}


/* from https://andy-bell.co.uk/a-more-modern-css-reset/ */

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6  {
    text-wrap: balance;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label {
    line-height: 1.2;
}


/* based on https://github.com/sindresorhus/modern-normalize */

html {
    /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
    font-family:
        system-ui,
        'Segoe UI',
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji';
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    /* 2. Prevent adjustments of font size after orientation changes in iOS. */
    -moz-tab-size: 4;
    /* 3. Use a more readable tab size (opinionated). */
    tab-size: 4;
    /* 3 */
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
    font-family:
        ui-monospace,
        SFMono-Regular,
        Consolas,
        'Liberation Mono',
        Menlo,
        monospace;
    /* 1 */
    font-size: 1em;
    /* 2 */
}

/* Add the correct font size in all browsers. */
small {
    font-size: 80%;
}

/* Prevent 'sub' and 'sup' elements from affecting the line height in all browsers. */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}


sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}
